body{
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Merriweather', serif;
    background-color: rgba(255, 248, 220, 0.575);
}
header{
    background-color: navajowhite;
    padding: 5px;
}
.contaion{
    width: 90%;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
nav a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    margin-left: 20px;
}
.link-button{
    text-decoration: none;
    padding: 10px 10px;
    background-color: orangered;
    border-radius: 2em;
    color: papayawhip;
}
.first-section{
    display: flex;
    width: 80%;
    margin-left: 10em;
}
main{
    display: flex;
    justify-content: center;
}
.section-title{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    margin-right: 20px;
}
.container{
    background-color: white;
    width: 1000px;
    padding: 30px;
}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-gap: 30px;
}
.second-section{
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}
.ratings{
    display: flex;
    align-items: center;
}
.rate{
    color: gray;
    margin-left: 5px;
}
.description{
    color: grey;
    font-size: large;
    font-weight: bolder;
}
.fa-star{
    color: orange;
    font-size: 8px;
}
.see-more{
    text-decoration: none;
    float: right;
    color: brown;
}
footer{
    background-color: navy;
    text-align: center;
    padding: 2em;
    
}
.span{
    color: white;
}

/* media query */
@media only screen and (max-width:688px){
    .first-section{
        align-content: center;
        flex-direction: column;
        width: 100%;
        margin: 0%;
    }
    .title{
        text-align: center;
    }
    .navigation{
        flex-direction: column;
        width: 100%;
    }
    .items{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);

    }
}

/* tablet design */
@media only screen and (min-width: 689px) and (max-width: 992px){
    .first-section {
        align-content: center;
        flex-direction: column;
        width: 100%;
        margin: 0%;
    }
    .items{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);

    }
    .title{
        text-align: center;
    }
    .navigation{
        flex-direction: column;
        width: 100%;
    }    
}